#user button {
  width: 100%;
  margin-bottom: 2%;
}

#about {
  margin: 30% 0;
}

#price {
  background-color: rgb(255, 223, 144);
}

#pack-list li {
  border: none;
  background-color: transparent;
}

#pack-list li img {
  margin-right: 5px;
}

#partnership img {
  width: 40%;
  margin-top: 20px;
  filter: grayscale(100%);
  cursor: pointer;
}

#partnership img:hover {
  filter: grayscale(0);
}

#social {
  background-color: black;
  display: inline-block;
  padding: 7px 12px;
  border-radius: 10px;
}

#social a img {
  margin-left: 10px;
  width: 24px;
}

/* breakpoint */
@media (min-width: 768px) {
  #about {
    margin: 12% 0;
  }

  #partnership img {
    margin-top: 30px;
  }

  #social {
    background-color: black;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 10px;
  }

  #social a img {
    width: 30px;
  }
}
